<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs') %>
 
      <div class="mt-2">
        <h5>Overdue</h5>
        <h4>
            <%=
            OD.length
            %>
        </h4>
        <ul class="list-none pl-4">
            <% for(var i=0;i<OD.length; i++){%>
            <li class="Todo-Item"><div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300">
                <label for="todo-checkbox-1" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= OD[i].title%></label>
                <a class="hidden trash-icon" href="#!">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </a>
              </div>  </li>
            <% } %>
        </ul>      
        <h5>Due Today</h5>
        <h4>
            <%=
            DT.length
            %>
        </h4>
        <ul class="list-none pl-4">
            <% for(var i=0;i<DT.length; i++){%>
            <li class="Todo-Item"><div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300">
                <label for="todo-checkbox-1" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= DT[i].title%></label>
                <a class="hidden trash-icon" href="#!">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </a>
              </div>  
            </li>
            <% } %>
        </ul>
        <h5>Due Later</h5>
        <h4>
            <%=
            DL.length
            %>
        </h4>
        <ul class="list-none pl-4">
            <% for(var i=0;i<DL.length; i++){%>
            <li class="Todo-Item"><div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                <input id="todo-checkbox-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300">
                <label for="todo-checkbox-1" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= DL[i].title%></label>
                <a class="hidden trash-icon" href="#!">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </a>
              </div>  </li>
            <% } %>
        </ul>
      </div>
</body>
</html>
